
.not-found-container{
    background-color: #fcf4ed;
    padding:20px;
    width:50%;
    margin: 0 auto;
    text-align: center;
    font-size:1.5rem;
}

.not-found-container p {
    margin: 0;
    color: #be671f;
}
