/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Ubuntu", sans-serif; }
*{
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    padding: 0px;
    margin: 0px;
}